[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tabulate = "*"
matplotlib = "*"
plotly = "*"
seaborn = "*"
nbformat = "*"
pandas-profiling = "*"
ipywidgets = "*"
databricks-pyspark-learning = {editable = true, path = "."}
pyspark = {extras = ["ml", "mllib", "sql"], version = "*"}
findspark = "*"

[dev-packages]

[requires]
python_version = "3.8"
